/*PALETA DE COLORES*/
:root {
  --pastel-rosa: #F297A6;
  --pastel-azul: #63CEE0;
  --pastel-amarillo: #EFDB89;
  --pastel-verde: #B3E18F;
  --pastel-indigo: #8686BA;

  --fondo-claro: #ffffff;
  --texto-principal: #59595B;
  --texto-blanco: #ffffff;

  --borde-suave: 12px;
  --sombra-suave: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* ENCABEZADOS */
h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.2;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }


/* ESTILOS A-FRAME */
a-scene, a-scene .a-canvas, a-scene canvas {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh !important;
  object-fit: cover !important;
  z-index: 0;
}


@keyframes aparecer {
  0% {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

/* CELEBRACIÓN MENSAJE */
.celebracion-mensaje {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  color: var(--pastel-indigo);
  background-color: var(--fondo-claro);
  padding: 12px 28px;
  border-radius: 15px;
  animation: aparecer 1s ease-in-out;
  font-weight: bold;
  z-index: 999;
  text-align: center;
}

.mensaje-feedback {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(255, 14, 14, 0.85);
  padding: 10px 20px;
  border-radius: var(--borde-suave);
  z-index: 999;
  color: var(--texto-principal);
}
