.home-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--pastel-azul); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
}

.home-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.home-content h1 {
  font-size: 2.5rem;
  color: var(--texto-blanco);
  margin-bottom: 10px;
}

.home-content h2 {
  font-size: 1.3rem;
  color: var(--texto-blanco);
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Botones */
.role-btn {
  padding: 15px 30px;
  border: none;
  border-radius: var(--borde-suave);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
}

/* Botón Docente */
.role-btn.docente {
  background-color: var(--pastel-verde);
  color: var(--texto-blanco);
  
}

/* Botón Estudiante */
.role-btn.estudiante {
  background-color: var(--pastel-indigo);
  color: var(--texto-blanco);
}

.role-btn:hover {
  transform: scale(1.05);
}

/* Footer */
.home-footer {
  font-size: 1.0rem;
  color: var(--texto-blanco);
  text-align: center;
  padding: 20px;
}

.logo-home {
  width: 150px;
  height: auto;
  margin-bottom: 295px;
}